body {
  background-color: rgb(54, 53, 53);
}

.pageNumbers {
  list-style: none;
  display: flex;
  justify-content: center;
}

.pageNumbers li {
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
}

.pageNumbers li.active {
  background-color: white;
  color: black;
}

.pageNumbers li button {
  background-color: transparent;
  border: none;
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
}
.pageNumbers li button:hover {
  background-color: black;
  color: white;
}
.pageNumbers li button:focus {
  outline: none;
}

.conteinerdog {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}

.cajitas {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.falla {
  display: flex;
  justify-content: center;
}
