.navbar{
    
    overflow-y: hidden ! important;
    overflow-x: hidden ! important; 
    background-color: #d1d1d1;
    height:100px;
    border-bottom-style: double;
    border-bottom-color: rgb(229, 143, 157);
}
.list{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.list-item{
    font-family:  'Montserrat', sans-serif;
    color: grey;
    background-color: white;
    border-radius: 15px;
    font-size: 50px;
    margin-top:10px; 
    text-decoration: none;
    padding: 5px;
    border: 2px solid black;
}
.list-item:hover {background-color: rgb(165, 163, 163);}

.list-item:active {
    background-color: blanchedalmond;
      box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.list-item:focus{
border-color: rgb(229, 143, 157);
background-color: blanchedalmond;
} 